<div class="flex flex-col gap-2">
  <p>Hi, I'm Cocoa! I'm a software engineer and I'm interested in a lot of things!</p>
  <p>My daily programming languages are C/C++, Elixir and Python.</p>
  <p>I also use other languages/frameworks like Java(Type)Script/Phoneix/Vue.JS to build my own blog.</p>
</div>
