<div data-el-now-playing>
  <h2 class="kira">Now Playing</h2>
  <div class="flex flex-row flex-wrap gap-4">
  <%= if @now_playing do %>
    <.now_playing_card item={@now_playing} />
  <% end %>
  <%= for item <- @play_history do %>
    <.now_playing_card item={item} />
  <% end %>
  </div>
</div>
