@import "./prism.css";
@import "./prism-line-numbers.min.css";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Merriweather:wght@700&family=Source+Serif+Pro:wght@300&family=Special+Elite&display=swap');

:root {
  --bg: #FFF;
  --nav-text: #090909;
  --post-title: #151515;
  --post-card-bg: #f9f9f9;
  --post-excerpt: #484545;
  --text: #1f1f1f;
  --inline-code: #dedede;
  --selection: #FFF2F2;
  /* Typography */
  --h1: 2.25rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --blog-title: 1.6rem;
  --nav-font-size: 1.4rem;
  /* normal */
  --title: 1.2rem;
  --paragraph: 1.15rem;
  --excerpt: 1.1rem;
  --info-text: 1rem;
  --text-width-wide: 70ch;
  --text-width-medium: 60ch;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 500;
  --fw-light: 300;
  /* sm */
  --sm-title: 1.0rem;
  --paragraph: 1.15rem;
  --excerpt: 1.1rem;
  --info-text: 1rem;
  --text-width-wide: 70ch;
  --text-width-medium: 60ch;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 500;
  --fw-light: 300;
  /* Spacing */
  --spacing-xxs: 0.5em;
  --spacing-xs: 1em;
  --spacing-s: 1.5em;
  --spacing-m: 3em;
  --spacing-l: 6em;
  --spacing-xl: 8em;
  /* Misc */
  --radius-xs: 0.25em;
  --radius-s: 0.5em;
  --center-it: auto;
}
::selection { 
  background: var(--selection);
}
*,*:after,*:before{
  box-sizing:inherit
}
html{
  box-sizing:border-box;
}
body{
  color:var(--text);
  background: var(--bg);
  font-family: 'Crimson Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: var(--paragraph);
  font-weight: 400;
  letter-spacing: .01em;
}

.blog-title h1 {
  font-family: 'Source Serif Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: var(--fw-light);
  font-size: var(--blog-title);
}

img {
  width: 100%;
  margin-block: var(--spacing-m);
  border-radius: var(--radius-xs);
}

.container{
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
  margin: var(--center-it);
  max-width: var(--text-width-wide);
}

/* Headers */
header {
  width: 100%;
  background: var(--bg);
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}
header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header section :first-child {
  order: 2;
}
header section :last-child {
  order: 1;
}
header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  white-space: nowrap;
}
header nav ul {
  margin: 1rem 0;
}
header nav a {
  color: var(--nav-text);
  display: block;
  font-family: 'Merriweather';
  font-size: var(--nav-font-size);
  font-weight: var(--fw-bold);
  letter-spacing: .01em;
  line-height: 1.4;
  text-decoration: none;
}

a {
  color: var(--nav-text);
  /* text-decoration: none; */
}

h2 a {
  text-decoration: none;
  line-height: 1.6;
}

/* Post */

code[class=inline] {
  background: var(--inline-code);
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:first baseline;
  gap: 1rem;
}

.card{
  flex: 1 0 48%;
  max-width: 48%;
  height: auto;
  background: var(--post-card-bg);
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.card a , .post-section a {
  text-decoration: none;
}

.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.post-title{
  font-family: 'Crimson Pro';
  color: var(--post-title);
  font-size: var(--title);
  font-weight: var(--fw-semibold);
}
.card h3{
  margin: 0;
}

.post-time{
  font-size: var(--info-text);
  cursor:default;
}

.post-excerpt{
  padding: 0;
  color: var(--post-excerpt);
  font-size: var(--excerpt);
}

.post-readmore{
  font-size: var(--info-text);
}

.post {
  font-size: var(--paragraph);
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 1.6;
}

blockquote {
  font-family: 'Special Elite', cursive;
	font-weight: 100;
	font-size: var(--paragraph);
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	font-size: 2rem;
	width: 1rem;
	height: -1rem;
}

blockquote:before {
	content: '“';
	left: -1rem;
	top: 0rem;
}

blockquote:after {
	content: '”';
	right: -1rem;
	bottom: -1rem;
}

cite {
	line-height: 3;
	text-align: left;
}

/* Kira */
.kira {
  margin-top: 4rem;
  font-size: var(--title);
}

.links li {
  padding-top: 0.3rem;
  font-size: var(--paragraph);
}

/* now-playing */
.music__times {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 25px;
  color: #9a9d9a;
}
.music__duration, .music__current_time {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.music__times, .music__duration, .music__current_time {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.music__duration {
  text-align: right;
  padding-right: 5px;
}
.music__current_time {
  text-align: left;
  padding-left: 2px;
}
.music__seek {
  width: 100%;
  background-color: #add8e6;
}
.music__seek_handle {
  display: block;
  background-color: #5c9dc0;
}
.music__seek, .music__seek_handle {
  height: 3px;
  border-radius: 9px;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  will-change: height;
}

@media (max-width: 880px) {
  header section {
    flex-direction: row;
  }
  .card{
    flex: 1 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  h2 a {
    font-size: var(--nav-font-size);
    line-height: normal;
  }
}
